body 
	{
	font-family: sans-serif; text-align: center; text-color: #FFFFFF;  }
    	canvas { max-width: 100%; margin-top: 1rem; border: 0px solid #ccc; }
	

.blocktitle {
 background: url(./style/1.png);
 
 line-height: 50px;
 font: 50px 'Tahoma';
 text-shadow: 3px 3px ##0000FF;
 color: #FFFFFF;
 padding-left: 0px;
 text-transform: uppercase;
}
#copyright {
 float: right;
 width: 40%;
 margin-left: 10px;
 text-align: right;
}
iframe {
	width: 95vw; 
	height: 90vh;
	border: none;
	}